@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}
<h2>@ViewBag.Title.</h2>

<p>In organizational studies, resource management is the efficient and effective development of an organization's resources when they are needed. Such resources may include financial resources, inventory, human skills, production resources, or information technology (IT) and natural resources. </p>
